
* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

* a:hover {
  background-color: blueviolet;
}

* a:active {
  color: red;
}

.mobile-main {
  width: 375px;
  height: 5410px;
}

.head {
  display: flex;
  height: 48px;
  justify-content: space-between;
}

.logoplace {
  width: 100px;
  height: 49px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoplace a {
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.humbergur {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.headline {
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  background: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.pr-t {
  width: 100%;
  height: 150px;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.sec-t {
  width: 320px;
  height: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.soci-med {
  height: 24px;
  display: flex;
}

.soci-med h6 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  width: 170.17px;
  height: 20px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 20px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  width: 375px;
  height: 2788px;
  background: #f7f7f9;
}

.cardworks1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 670px;
  width: 350px;
}

.snapshot {
  width: 340px;
  height: 220px;
}

.leftblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 340px;
  height: 288px;
}

.prim-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  padding: 0;
  width: 295px;
  height: 75px;
}

.prim-txt h2 {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.prim-txt img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 236px;
  height: 32px;
}

.leftblock p {
  margin-top: 40px;
  width: 220px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags > ul {
  list-style: none;
  width: 203px;
  height: 24px;
  display: flex;
  gap: 8px;
  padding: 0;
  margin-left: 0;
}

.html1 {
  width: 53px;
  height: 24px;
  color: blue;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.css1 {
  width: 53px;
  height: 24px;
  color: blue;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.java {
  width: 90px;
  height: 24px;
  color: blue;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.action {
  margin-top: 0;
  padding-top: 0;
  width: 295px;
  height: 72px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 100px;
  height: 25px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-align: center;
}

.button a {
  text-decoration: none;
  font-weight: 550;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.cardworks2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 800px;
  width: 350px;
}

.cardworks2 .prim-txt {
  margin-top: 40px;
  height: 124px;
}

.cardworks2 h2 {
  width: 200px;
}

.cardworks2 img {
  margin-top: 40px;
}

.cardworks3 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 670px;
  width: 350px;
}

.cardworks4 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  padding: 16px;
  height: 800px;
  width: 350px;
}

.cardworks4 .prim-txt {
  margin-top: 40px;
  height: 124px;
}

.cardworks4 h2 {
  width: 200px;
}

.cardworks4 img {
  margin-top: 40px;
}

.main3 {
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
}

.about {
  display: flex;
  flex-direction: column;
  height: 130px;
}

.about > h2 {
  display: flex;
  width: 227px;
  line-height: 52px;
  padding: 5px;
  font-weight: 550;
  font-size: 40px;
  align-items: center;
  color: #172b4d;
}

.normal {
  margin-left: 0;
}

.normal > a {
  margin-top: 20px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 130px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-weight: bold;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  width: 327px;
  height: 464.15px;
}

.skill ul {
  list-style: none;
}

.languages {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.languages > p {
  display: flex;
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.badge {
  display: flex;
  width: 303px;
  height: 66.72px;
  align-items: center;
  background: #f7f7f9;
  gap: 10px;
  border-radius: 8px;
}

.badge > p {
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.badge > img {
  margin-left: 12px;
  height: 48px;
  width: 48px;
}

.fr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 327px;
  height: 72px;
}

.frr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 72px;
  margin-left: 52px;
}

.fr > p {
  font-weight: 548;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frr > p {
  font-weight: 548;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.fr img {
  width: 24px;
  height: 24px;
}

hr {
  width: 100%;
}
